.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slider-container-red{
  right: 15%;
  top: 75px;
  position: absolute;
  height: 300px;
}


.slider-container-green{
  right: 10%;
  top: 75px;
  position: absolute;
  height: 300px;
}

.slider-container-orange{
  right: 20%;
  top: 75px;
  position: absolute;
  height: 300px;
}

.slider-container-blue{
  right: 5%;
  top: 75px;
  position: absolute;
  height: 300px;
}
