.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slider-container {
  right: 0;
  top: 0;
  width: 25%;
  position: absolute;
  margin: 2em;
}

.slider-container p {
  color: white;
}

.viv-error p {
  color: red;
  margin: 15px;
}
