name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  Build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - run: |
          pnpm install
          pnpm --filter=avivator build

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: biomejs/setup-biome@v2
      - run: biome ci .

  Test:
    runs-on: ubuntu-latest
    env:
      DISPLAY: :0
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Setup xvf (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install -y xvfb
          # start xvfb in the background
          sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &

      - run: pnpm test
